*{margin: 0; padding: 0;}
a{text-decoration: none; color: #333;} 
ul, li{list-style: none;}

.container{width: 1200px; margin: 0 auto;}
.d-flex{display: flex;}
.d-block{display: block;}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items: center;}

.position-absolute{position: absolute;}
.position-relative{position: relative;}

.mx-0{margin: 0 auto;}
.over-flow-hidden{overflow: hidden;}

.h-100{height: 100px;}
.h-200{height: 200px;}
.h-300{height: 300px;}




.nav-li1{
    display: block;
    padding: 1vh 4vh;
    text-align: center;
}
.nav-li1:hover{
    background-color: rgb(51, 43, 202);
}
.nav-a1{
    font-size: 18px;
    text-align: center;
    display: block;
    font-weight: bold;
}
.nav-li1:hover .nav-a1{
    color: aliceblue;
}

.nav-ul2{
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
    left: 0;
    top: 100%;
    width: 100%
}
.nav-li2{
    line-height: 35px;
}

.nav-li1:hover .nav-ul2{
    height: calc(35px * 3);
}




.slide1{
    max-width: 100%;
    height: auto;
}

.notice{height: 200px; width: 400px; margin-right: auto;}

.banner1{
    margin-left: 0;
}
.banner-img{
    max-width: 100%;
    height: auto;
}
.link-img{
    max-width: 100%;
    height: auto;
}


#ft{
    margin-top: 1rem;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-2{
    width: 100%;
}
.reference{
    justify-content: space-around
}
.copywrite{
    text-align: center;
    margin-top: 2rem;
}

